<div class="name-card">
  <div class="name-card__content-left">
    <img
      src="https://www.google.com.vn/url?sa=i&url=https%3A%2F%2Fcomdy.vn%2Fangular%2Fhuong-dan-lap-trinh-angular-tu-dau-tung-buoc-2%2F&psig=AOvVaw3ngA_zZ4nGDM6wbMwEjqi1&ust=1626769672510000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLCot7fb7vECFQAAAAAdAAAAABAD"
      alt="Logo" class="name-card__avatar">
  </div>
  <div class="name-card__content-right">
    <h3 class="name-card__heading">{{ cardName }}</h3>
    <p class="name-card__text">{{ email }}</p>
    <p class="name-card__text">{{ phone }}</p>
  </div>
</div>
